<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/signup.css' %}" >
    <title>Signup</title>
    <style>
  body{
        background-color:#eaf2ff;
        }

    </style>
</head>
<body>
<div class="container">
<h3 align="center">SignUp</h3><hr>
<form class="Signup" method="POST" action="{%url 'accounts:login'%}">
    {{form}}
    <input type="Submit" value="Signup">
    {% csrf_token %}
</form>
</div>

</body>
</html>
