.navbar-brand{
  font-family: "Comic Sans MS", cursive, sans-serif;
}
.jumbotron{
background-color:#7CFC00!important;
}
.h1{
color: red;
.headline{
  font-family: "Comic Sans MS", cursive, sans-serif;
}
.alert {
  background: #000000 !important;
}
