{% extends 'newsroom/basic.html'%}

{% block basic %}
  <h5 align="right">{{insert_date}}</h5>
<h3 class="headline" style="text-align:center"><b>Top Headlines</b></h3>
<hr>

<div class="container">
{% for News in News %}
    <div class="p">
<div class="card-deck">
  <div class="card">
    <img class="card-img-top" src="https://c.ndtvimg.com/2018-10/fupae7lc_chief-justice-ranjan-gogoi-pti_625x300_03_October_18.jpg" alt="Card image cap" height="100" width="100">
    <div class="card-body">
      <h5 class="card-title">{{News.head}}</h5>
      <p class="card-text">{{News.snippet}}</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
    </div>
</div>
{% endfor %}
</div>
<h3 class="headline" style="text-align:center"><b>Sports</b></h3><hr>

{% endblock %}
